<?xml version="1.0"?>
<configuration>
  <connectionStrings configSource="Test_connections.config"/>
  <appSettings>
    <add key="MOTD" value="&quot;Devout discipels of Gaz Beadle's penis&quot;"/>
    <add key="SearchPlaceholder" value="e.g. loldred's legends"/>
    <add key="EnableYoutubeUpload" value="False"/>
    <add key="InsertImageViewAfterMilliseconds" value="2000"/>
  </appSettings>
  <system.web>
    <globalization culture="en-GB"/>
    <compilation targetFramework="4.7.2" debug="true"/>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="1073741" requestLengthDiskThreshold="1073741" executionTimeout="7200"/>
    <customErrors mode="Off"/>
    <machineKey decryption="AES" decryptionKey="9CE86160F66F736E88B12832DDC6CA65D840D29DBF69586D419137BD0B1D78B2" validation="HMACSHA256" validationKey="5728369CB4AD6A5E4DD9297CBBCEE9F4731B15F9C02CF1FF9D8958718FE05D8AD401BC5E55B85CBFA453EA8311F5A5916F955210662829BCD18A8F66E180C771" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <!--ONLY ALLOW SECURE CONNECTIONS-->
    <!--<rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>
<!--ProjectGuid: 8C3A9372-A884-4197-B3ED-71CBE4D99652-->