<?xml version="1.0"?>
<configuration>
  <connectionStrings configSource="Dev_connections.config"/>
  <appSettings>
    <add key="MOTD" value="&quot;Devout discipels of Gaz Beadle's penis&quot;"/>
  </appSettings>
  <system.web>
    <globalization culture="en-GB"/>
    <compilation targetFramework="4.7.2" debug="true"/>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="1073741" requestLengthDiskThreshold="1073741" executionTimeout="7200"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <!--ONLY ALLOW SECURE CONNECTIONS-->
    <!--<rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>
<!--ProjectGuid: 8C3A9372-A884-4197-B3ED-71CBE4D99652-->